@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"), url("./fonts/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"), url("./fonts/Lato-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Lato-Light";
    src: local("Lato-Light"), url("./fonts/Lato-Light.ttf") format("truetype");
    font-weight: bold;
}
/*.font-face-gm {
    font-family: "Lato-Bold";
}*/
* {
    font-family: Lato-Regular;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.main {
    padding: 40px 0;
    padding-bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right,#fd8c29, #de1f62);
    /*background-color:blueviolet;*/
    min-height: 400px;
}

.menu, .lista-itens-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .lista-itens-menu > .item-menu {
        margin: auto;
    }

    .menu h3 {
        color: white;
    }

    .menu a {
        color: white;
        text-decoration: none;
        border: 1px solid white;
        padding: 3px 8px;
        border-radius: 5px;
    }

.item-menu a {
    border-radius: 20px;
    padding: 8px 20px;
    display: block;
    text-align: center;
}

.item-menu .Button-Sign-Up {
    background-color: #6922ff;
    border: none;
}

.texto-learn-more {
}

.Button-Sign-Up, .botao-borda-branca-fundo-transparente, .link-imagem-learn_more, .botao-login, a, .botao-borda-branca-fundo-transparente > span {
    transition: 0.3s;
}

    .Button-Sign-Up:hover {
        background-color: #9762ff;
    }

    .botao-login:hover {
        background-color: white;
        color: #de1f62;
    }

.item-menu .Menu-Itens {
    border: none;
    margin: auto;
}

.Menu-Itens:hover {
    color: gray;
}

.body-things {
    padding: 8px;
}

    .body-things h3 {
        color: #7c39fe;
        padding: 5px 8px;
        margin: auto;
        max-width: 90%;
        text-align: center;
        font-size: 2em;
    }

h4 {
    color: #7c39fe;
    font-weight: bolder;
}

.logo {
    width: auto;
    display: flex;
}

.conteudo-apresentacao-menu {
    display: flex;
    padding: 30px;
}

.conteudo-esquerda-menu {
    padding: 60px;
    padding-bottom: 0;
    max-width: 40%;
    margin: auto;
}

    .conteudo-esquerda-menu > .item-menu > a {
        color: white;
        text-decoration: none;
    }

    .conteudo-esquerda-menu > .item-menu {
        padding-top: 40px;
    }

    .conteudo-esquerda-menu > p {
        font-size: 1.7em;
        color: white;
    }

.capa-menu, .capa-menu > img {
}

.capa-menu {
    width: 60%;
    max-width: 60vw;
    max-height: 60%;
    min-height: 375px;
    display: block;
    position: relative;
}

    .capa-menu > img {
        max-width: 100%;
        display: block;
        position: absolute;
        bottom: -50px;
        margin: auto;
    }

.Spacing {
    height: 25px;
    display: block;
}

.conteudo-single {
    text-align: center;
    padding: 15px;
}

    .conteudo-single > .organizador > * {
        padding-top: 15px;
    }

    .conteudo-single > .organizador > p, .conteudo-single h4 {
        font-size: 20px;
    }

    .conteudo-single > .organizador > p {
        font-family: "Lato-Regular";
    }

    .conteudo-single h4 {
        font-family: "Lato-Bold";
    }

    .conteudo-single p {
        font-weight: 100;
    }


.link-imagem-learn_more {
    width: fit-content;
    margin: auto;
    text-align: left;
    color: #7833ff;
    text-decoration: none;
    padding-top: 45px;
    display: flex;
}

    .link-imagem-learn_more:hover {
        color: #c7aaff;
    }

.organizador {
    min-height: 410px;
}

.conteudo {
    margin-top: 80px;
}

.botao-borda-branca-fundo-transparente {
    display: inline;
    margin: auto;
    border: 1px solid white;
    border-radius: 35px;
    text-align: center;
    height: 48px;
    width: fit-content;
    min-width: 75px;
    padding: 15px 40px;
    text-decoration: none;
}

    .botao-borda-branca-fundo-transparente:hover > span, .botao-borda-branca-fundo-transparente:hover {
        color: #5F29CC;
    }

    .botao-borda-branca-fundo-transparente:hover {
        background-color: white;
    }

        .botao-borda-branca-fundo-transparente > span {
            margin:auto;
        }

.link-botao {
    text-decoration: none;
    margin: auto;
    display: block;
    margin-top: 45px;
}

.bloco-roxo {
    width: 90%;
    max-width: 920px;
    margin: auto;
    border-radius: 24px;
    background-color: #5F29CC;
    padding: 60px;
    margin-bottom: 50px;
    display: block;
}

    .bloco-roxo * {
        color: white;
        text-align: center;
    }

    .bloco-roxo > * {
        padding-top: 20px;
    }



    .bloco-roxo .organizador {
        min-height: inherit;
    }

    .bloco-roxo h3 {
        font-size: 34px;
    }

    .bloco-roxo p {
        font-size: 20px;
        font-family: Lato-Light !important;
    }

.tres-infomacoes-graphical-Abstracts {
    margin-top: 0;
}

#outer-container {
    display: none;
}

@media screen and (max-width:768px) {
    .logo {
        margin: auto;
    }

        .logo > * {
            margin: auto;
        }

    .lista-itens-menu, .menu {
        display: block;
    }

        .lista-itens-menu > .item-menu {
            margin: 15px auto;
        }

    .conteudo-apresentacao-menu {
        display: block;
        width: 100%;
        margin: auto;
    }

    .conteudo-esquerda-menu {
        width: 100%;
        max-width: inherit;
    }

    .capa-menu {
        width: 100%;
        max-width: inherit;
        max-height: inherit;
        min-height: 410px;
    }

    .center {
        display: block;
    }

    .organizador {
        min-height: inherit;
    }

    .lista-itens-menu {
        display: none;
    }

    #outer-container {
        display: block;
    }

    .conteudo-esquerda-menu {
        padding: 5px;
    }

    .bloco-roxo {
        padding: 12px;
    }
}

.Menu-Item {
    color: black;
}

.menu-items-hamburger {
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
}

.menu-login-group > a {
    margin: auto;
    display: grid;
}

    .menu-login-group > a > span {
        font-family: Lato-Bold;
        margin: auto;
    }

.Button-Sign-Up-menu-items-hamburger, .botao-login-menu-items-hamburger {
    display: block;
}

.botao-login-menu-items-hamburger {
    width: fit-content;
    color: #000000;
    border: 2px solid #B9B9B9;
    height: 40px;
    padding: 0 30px;
    font-size: 16px;
    background: #FFFFFF;
    font-family: Lato, sans-serif;
    font-weight: bold;
    border-radius: 35px;
    text-transform: none;
    text-decoration: none;
    margin: 0;
}

    .botao-login-menu-items-hamburger span, .Button-Sign-Up-menu-items-hamburge span {
        width: 100%;
        margin: auto;
    }

.Button-Sign-Up-menu-items-hamburger {
    width: max-content;
    color: #FFFFFF;
    border: 2px solid #7833FF;
    height: 40px;
    margin: 0 0 0 11px;
    padding: 0 30px;
    font-size: 16px;
    background: #7833FF;
    font-family: Lato, sans-serif;
    font-weight: bold;
    border-radius: 35px;
    text-transform: none;
}



.bm-burger-button > button {
    color: black;
}

.bm-burger-button {
    position: fixed;
    width: 22px;
    height: 19px;
    right: 36px;
    top: 36px;
    color: black;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: grid !important;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}




.menu-login-group {
    display: flex !important;
}

@media screen and (max-width: 600px) {

    .menu-login-group {
        display: grid !important;
    }

        .menu-login-group > a {
            margin-top: 20px;
        }

    .bm-menu {
        padding: 0;
    }

    .bm-menu-wrap {
        width: 250px !important;
    }
}

.botao-borda-branca-fundo-transparente > span {
    margin: auto;
}

@media screen and (max-width: 450px) {
    .botao-borda-branca-fundo-transparente {
        padding: 15px;
        display: flex;
        font-size: 0.75em;
        height:auto;
    }
}
